/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/
/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

body {
  background-color: #F2F1E8;
  box-sizing: border-box;
  margin:0;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size:  60px;
  font-weight: normal;
  margin: 20px 0px 10px 0px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size:  30px;
  font-weight: lighter;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: fixed;
  width: 100%;
}

.logo > img {
  max-height: 50px;
}

.logo {
  flex-basis: 30%;
}

nav {
  flex-basis: 40%;
  text-align: center;
}

nav a {
  margin: 10px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  color: black;
}

main {
  margin-top: 75px;
  position: static;
}

main > h1, main > h2 {
  text-align: center;
  display: block;
}

.row-1 {
  display: flex;
  flex-basis: 100%;
  padding: 0px 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-1 h3, .row-2 h3 {
  align-self: flex-end;
  color: #F2F1E8;
  background: #323232;
  padding: 10px;
}

.image1-row1 {
  display: flex;
  background-image: url("images/product-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  flex-basis: 57%;
}

.image2-row1 {
  display: flex;
  background-image: url("images/product-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 20%;
  background-position: center;
}

.image3-row1 {
  display: flex;
  background-image: url("images/product-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 20%;
}
/* ====================================== ROW 2 =============*/
.row-2 {
  display: flex;
  flex-basis: 100%;
  padding: 0px 10px;
  justify-content: space-between;
}

.image1-row2 {
  display: flex;
  background-image: url("images/product-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  flex-basis: 20%;
}

.image2-row2 {
  display: flex;
  background-image: url("images/product-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 20%;
  background-position: center;
}

.image3-row2 {
  display: flex;
  background-image: url("images/product-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 35%;
}

.image4-row2 {
  display: flex;
  background-image: url("images/product-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 20%;
}

footer {
  margin-top: 40px;
  display: flex;
  width: 100%;
  color: white;
  padding: 40px;
  background: #323232;
}

/*===================================ABOUT PAGE CSS ==============*/

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-about p {
  font-family: Merriweather, serif;
  font-size: 20px;
}

.intro, .history {
  max-width: 60%;
}

.intro img {
  max-height: 100px;
  float: left;
}

blockquote {
  margin: 0;
  font-family: Merriweather, serif;
  font-size: 20px;
  font-style: italic;
  border-left: 2px solid gray;
  padding-left: 30px;
  color: gray;
}

.main-about h3 {
  font-size: 26px;
  font-weight: lighter;
}

.room {
  background-image: url("images/background-3.jpg");
  background-size: cover;
  background-position: 90% 30%;
  width: 100%;
  text-align:center;
  padding: 150px 0px;
  color: white;
}

.facilities {
  display: flex;
  max-width: 60%;
  align-items: center;
  flex-wrap: wrap;
}

.facilities h3 {
  flex-basis: 100%;
}

.fac-row {
  display: flex;
  flex-basis: 100%;
}

.fac-row p {
  max-width: 80%;
  padding: 0;
  margin: 0;
}

.fac-row figure {
  max-width: 20%;
  margin: 10px;
  padding: 0;
}

.facilities img {
  max-height: 100px;
}

.plans {
  display: flex;
  width: 60%;
  font-family: Merriweather, serif;
  font-size: 19px;
}

td {
  padding: 20px 10px;
  border: 1px solid black;
}

.table-empty {
  width: 20%;
  margin: 0px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

.bg {
  background-color: #f0e6c9
}
